In [3]:
#!pip install db-sqlite3
import sqlite3

In [5]:
conn=sqlite3.connect('exp2.db')
cur=conn.cursor()
#conn - sqlite3.connect('test.db')
print("Opened database successfully");

Opened database successfully

In [23]:
conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print("Table created successfully");

Table created successfully

In [24]:
conn.execute("INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY) VALUES (1, 'THOMAS', 25, 'NEWYORK', 45000.00)");
conn.execute("INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY) VALUES (2, 'DANIEL', 32, 'CALIFORNIA', 95000.00)");
conn.execute("INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY) VALUES (3, 'JOHN', 28, 'WASHINGTON', 55000.00)");
conn.execute("INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY) VALUES (4, 'STEFAN', 35, 'DALLAS', 80000.00)");
conn.execute("INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY) VALUES (5, 'JOSEPH', 36, 'ALASKA', 75000.00)");
conn.commit()
print("Records Created Successfully");

Records Created Successfully

In [25]:
for row in conn.execute('select * from COMPANY'):
        print(row)

(1, 'THOMAS', 25, 'NEWYORK', 45000.0)
(2, 'DANIEL', 32, 'CALIFORNIA', 95000.0)
(3, 'JOHN', 28, 'WASHINGTON', 55000.0)
(4, 'STEFAN', 35, 'DALLAS', 80000.0)
(5, 'JOSEPH', 36, 'ALASKA', 75000.0)

In [26]:
conn.commit()

In [27]:
conn.close()